.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searchinput{
  width:35%!important ;
  display: unset!important ;
}
.playersearchinput{
  width:75% !important;
  display: unset!important;
}
.searchbtn{
  margin-top:10px;
  margin-bottom:10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}
.card-img.propic{
    width: unset!important;
    height: 160px;
    border-radius: 50%!important; 
    padding-top: 2%;
  
}

.card-img.battlepic{
  width:50%;
  padding-top: 2%;
  /* height: 150px; */
  margin:auto;
  border-radius: 50%!important; 

}

.list-group-item{
  text-align: -webkit-auto;
}

.textsize{
  font-size: 1rem;
  padding-bottom: 2%;
  text-align: center;
  color:darkblue;
}
.repo.row{
  /* margi   */
  margin-left: 0%;
  margin-right: 0%;
}
.repo h4{
  margin:3%;
}
.repo .card{
  /* margin-bottom:10%; */
  margin: 2%;
  padding: 20px;
  width: 350px;
  max-width: none;
  text-align: left;
}

.repo .repoalignment{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex:1 1 33.3%;
  justify-content: center;
  padding: 0%;
}
.stats{
  display: flex;
  flex-direction: row;

}
.stats .col-4, .stats .col-8, .stats .col-6{
  
  padding-left: 0!important;
  padding-right:0!important;
}

.battle{
  max-width: 350px;
}

.battlebtn{
  margin:auto;
}
ul{
  list-style: none;
}

li.language{
  font-weight: 700 !important;
  cursor: pointer !important;
}


li.language.active{
  color:#007BFF;
}

.repoImg{
  height:150px;
  border-radius: 50%!important;
}

ul.repoview{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.repoview li{
  padding: 20px;
  margin-bottom: 1%;
}
.repoview p{
  margin-bottom: 0%;
}
.loading{
  margin-top: 10%;
}
.nav-link.active{
font-weight: bold;
}

.VictoryContainer svg{
  height: unset!important;
  width: unset!important;
}
.Langview h1{
  margin-top: 2%;
  margin-bottom: 1%;
}

.conatiner .card{
  max-width:unset!important;
}