.App {
  text-align: center;
}

html,
body {
  height: 100%;

  /* width: 100%; */
  /* background-size: 600% 600%; */
  background: #f8e8cf;
  background-color: #f8e8cf !important;
  /* background-image: url('./bg.jpg'); */
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searchinput {
  width: 35% !important ;
  display: unset !important ;
}
.playersearchinput {
  width: 75% !important;
  display: unset !important;
}
.searchbtn {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #2222 !important;
  /* max-width: 300px; */
  margin: auto;
  text-align: center;
}
.card-img.propic {
  width: unset !important;
  height: 150px;
  border-radius: 50% !important;
  padding-top: 2%;
  margin-top: 5%;
}

.card-img.battlepic {
  width: 50%;
  padding-top: 2%;
  /* height: 150px; */
  margin: auto;
  border-radius: 50% !important;
}
.form-control {
  background-color: unset !important;
  color: #111 !important;
  border: 1px solid #111 !important;
}
.list-group-item {
  text-align: -webkit-auto;
  background-color: unset !important;
}

.textsize {
  font-size: 1rem;
  padding-bottom: 2%;
  text-align: center;
  color: darkblue;
}
.repo.row {
  /* margi   */
  margin-left: 0%;
  margin-right: 0%;
}
.repo h4 {
  margin: 3%;
}
.repo .card {
  /* margin-bottom:10%; */
  margin: 2%;
  padding: 20px;
  width: 350px;
  max-width: none;
  text-align: left;
}

.repo .repoalignment {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 33.3%;
  justify-content: center;
  padding: 0%;
}
.stats {
  display: flex;
  flex-direction: row;
}
.stats .col-4,
.stats .col-8,
.stats .col-6 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.battle {
  max-width: 350px;
}

.battlebtn {
  margin: auto;
}
ul {
  list-style: none;
}

li.language {
  font-weight: 700 !important;
  cursor: pointer !important;
}

li.language.active {
  color: #007bff;
}

.repoImg {
  height: 150px;
  border-radius: 50% !important;
}

ul.repoview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.repoview li {
  padding: 20px;
  margin-bottom: 1%;
}
.repoview p {
  margin-bottom: 0%;
}
.loading {
  margin-top: 10%;
}
.nav-link.active {
  font-weight: bold;
}
/* .nav-link {
  padding-right: 140px !important;
  padding-left: 80px !important;
} */
nav {
  background-color: #111;
  margin-bottom: 5%;
  /* position: fixed !important;
  width: 100%;
  top: 0;
  overflow: hidden; */
}
/* .customNav {
  position: fixed !important;
  width: 100%;
  top: 0;
  overflow: hidden;
} */
.customTop {
  margin-top: 7%;
}

.VictoryContainer svg {
  height: unset !important;
  width: unset !important;
}
.Langview h1 {
  margin-top: 2%;
  margin-bottom: 1%;
}

.conatiner .card {
  max-width: fit-content !important;
}
.customMargin {
  margin-top: 13%;
}

.wrapper {
  max-width: 350px;
  border-radius: 0.25rem;
  color: #111;
  margin: auto;
  position: relative;
  padding: 3px;
}
.winnerRainbow {
  animation: Sidebar_rainbowBorder-2QRx- 0.5s linear infinite;
  -webkit-animation: Sidebar_rainbowBorder-2QRx- 0.5s linear infinite;

  background: -webkit-linear-gradient(
    115deg,
    #4fcf70,
    #fad648,
    #a767e5,
    #12bcfe,
    #44ce7b
  );
}
.wrapper .card {
  background: #f8e8cf !important;
}
.confetti {
  display: flex;
  justify-content: center;
  height: fixed !important;
}
@-webkit-keyframes Sidebar_rainbowBorder-2QRx- {
  0%,
  to {
    background-image: linear-gradient(
      115deg,
      #4fcf70,
      #fad648,
      #a767e5,
      #12bcfe
    );
  }
  25% {
    background-image: linear-gradient(
      115deg,
      #fad648,
      #a767e5,
      #12bcfe,
      #4fcf70
    );
  }
  50% {
    background-image: linear-gradient(
      115deg,
      #a767e5,
      #12bcfe,
      #4fcf70,
      #fad648
    );
  }
  75% {
    background-image: linear-gradient(
      115deg,
      #12bcfe,
      #4fcf70,
      #fad648,
      #a767e5
    );
  }
}

@keyframes Sidebar_rainbowBorder-2QRx- {
  0%,
  to {
    background-image: linear-gradient(
      115deg,
      #4fcf70,
      #fad648,
      #a767e5,
      #12bcfe
    );
  }
  25% {
    background-image: linear-gradient(
      115deg,
      #fad648,
      #a767e5,
      #12bcfe,
      #4fcf70
    );
  }
  50% {
    background-image: linear-gradient(
      115deg,
      #a767e5,
      #12bcfe,
      #4fcf70,
      #fad648
    );
  }
  75% {
    background-image: linear-gradient(
      115deg,
      #12bcfe,
      #4fcf70,
      #fad648,
      #a767e5
    );
  }
}
